/* reset of default browser styles */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
h1{
    color: goldenrod;
    font-family: Georgia;
    position:relative;
    padding-left: 15%;
}

body{
    font-family: "Nunito", sans-serif;
    color: #333;
    font-weight: 300;
    line-height: 1.6;
    background-color: rgb(26, 73, 26);
}

#button{
    color: rgb(26, 73, 26);
    background-color: goldenrod;
    border-radius: 8px;
    padding: 2px 2px 2px 2px;
    margin-left: 45%;
    margin-right: 40%;
    margin-top: 4%;
}

/* Styles for movie posters */
.container{
    width: 40%;
    margin: 2rem auto;
    background-color: rgb(26, 73, 26);
}

.gallery{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,5vw);
    grid-gap: .7rem;
}

.gallery__img{
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
}

.gallery__item--1{
    grid-column-start:1 ;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gallery__item--2{
    grid-column-start:5 ;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gallery__item--3{
    grid-column-start:7 ;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gallery__item--4{
    grid-column-start:1 ;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}
.gallery__item--5{
    grid-column-start:4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
   
}
.gallery__item--6{
    grid-column-start:6 ;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 7;
}

.gallery__item--7{
    grid-column-start:1 ;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 7;
}

.gallery__item--8{
    grid-column-start:4 ;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 7;
}

.gallery__item--9{
    grid-column-start:1 ;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 9;
}

.gallery__item--10{
    grid-column-start:5;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 9;
}